# FastAPI 기본
fastapi
uvicorn
sqlalchemy
python-dotenv
pydantic[email]
pydantic-settings
itsdangerous
requests
python-multipart

# 비밀번호 해싱
passlib
bcrypt==3.2.0

# JWT 인증
pyjwt
python-jose[cryptography]

# 타임존 처리
pytz

# Docker SDK
docker

# CSS 파서
cssutils

# GitHub API
PyGithub

# AI 연동
openai
